<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="v1/menu/add" method="post">
        <input type="text" placeholder="Description 1">
        <input type="text" placeholder="Description 2">
        <input type="text" placeholder="Description 3">
        <input type="submit" value="Click here">

    </form>

</body>
</html>